<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Doctor</title>
    <link rel="stylesheet"  th:href="@{/styles/login.css}">
    <link rel="stylesheet"  th:href="@{/styles/button.css}">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body background="..\imagenes\salud2.jpg">
<div class="container right-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
        <form action="/pag/login" method="post" class="form" id="form1" th:object="${doctorLogueado}">
            <h2 class="form__title">login Doctor</h2>
            <input type="email" placeholder="Email" name="correo" class="input" />
            <input type="password" placeholder="Password" name="contrasena" class="input" />
            <a href="#" class="link">¿olvidaste tu contraseña?</a>
            <button class="btn">Ingresar</button>

            <a href="/paciente/login" class="link">Login Paciente</a>
        </form>

    </div>

    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">

            <div class="overlay__panel overlay--left">
                <a href="/regisDoct/regis" class="btn" id="signIn">Registrarse</a>
            </div>

        </div>

    </div>
</div>
<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Nuestro css-->
<link rel="stylesheet"type="text/css"href="static/css/index.css">

</body>
</html>